<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS TEMPLATE</title>
  </head>
  <body>
    <h1>Hey its <%=type %> <%=Advice%></h1>
  </body>
</html>
